.HighlightsDetailsContainer{
  background-color: #EDEFEE;
  
}
   

.HighlightsDetailsContainer img{
    width: 100%;
}

.HighlightsDetailsContainerPrice{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
   
}



.HighlightsDetailsContainer p{
  margin-top: 30px;
}

.HighlightsDetailsContainer h5{
  margin-top: 50px;
}

.HighlightsDetailsContainer2{
  padding: 0px 10px 50px  10px;
}

.HighlightsDetailsContainerPrice{
  
}

