.heroContainer{
    padding: 30px;
    display: flex;
    flex-direction: column;
    background-color:#495E57;
}

.heroContainer h1{
    color: #F4CE14;
    font-size: 50px;
    
}
.heroContainer h2{
     font-size: 30px;
     color: white;
}

.heroContainer p{
    color: white;
    margin-top: 5px;
}

.heroImageContainer{
    position: relative;
    width: 100%;
    max-width: 500px;
    margin-top: 40px;
}

.heroContainer img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;

}


.herroButton{
    margin-top: 40px;
}