.mainNav a{

    text-decoration: none;
}

.mainNav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap:1.5rem;
    font-size: 1.2rem;

}

.mainNav li a{
    color: #495E57;
   
}

.mainNav li a:hover {
    color: #F4CE14;
}

@media (min-width:1024px){
    .mainNav ul{
        gap:2rem;
        flex-direction: row;

    }
}